.pull-down-filter
  .title {{ title }}
  select(name='role')
    option(value='admin', #{foo1} ) Finland
    option(value='editor', #{foo2} ) England
    option(value='user', #{foo3} ) Netherland
    option(value='user', #{foo3} ) Belgium
    option(value='user', #{foo3} ) France
    option(value='user', #{foo3} ) Germany
